[iota]
node=http://localhost:14265
seed=AAAAAAAA
price=1234.5678
depth=4
min_weight_magnitude=13
[sensor]
client_id=abcabcaabc
client_secret=defdefdef
username=name@localhost
password=123456
[buffer]
buffer_size=0
buffer_directory=./buffer/
[mam]
channel_key_index=42
start=3
count=4
mam_encrypt_path=/somewhere/mam_encrypt.js
security_level=1